@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: '微軟正黑體', sans-serif;
  background-color: #ddd;
}

::-moz-placeholder {
  color: #c5c5c5;
}

::-webkit-input-placeholder {
  color: #c5c5c5;
}

:-ms-input-placeholder {
  color: #c5c5c5;
}

.toDo-list {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 15px rgba(108, 118, 134, 0.4);
          box-shadow: 0 0 15px rgba(108, 118, 134, 0.4);
}

header {
  width: 100%;
  height: 157px;
  padding: 30px 30px 15px 30px;
  text-align: center;
  color: #fff;
  border-radius: 8px 8px 0 0;
  background-image: url(../images/header-img.jpg);
  background-size: cover;
  background-position: center bottom;
}

header h1 {
  text-align: left;
  font-size: 26px;
  padding-bottom: 10px;
  position: relative;
}

header h1:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #ffb200;
}

header .info {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

header .info .item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .info .item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .info .far {
  font-size: 30px;
}

header .info p {
  font-size: 14px;
}

header .info .inner {
  margin-right: 7px;
}

header .info .inner:nth-child(2) {
  text-align: left;
}

header .info .inner .bottom {
  opacity: 0.8;
}

header .info .day {
  font-size: 42px;
  font-weight: 600;
}

header .info .week {
  font-weight: 600;
}

.content {
  width: 400px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.add-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.add-list input {
  width: 350px;
  height: 50px;
  padding: 15px;
  color: #5a5a5a;
}

.add-list input:focus {
  outline: 0;
}

.add-list .add-btn {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #737379;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.add-list .add-btn:hover {
  background-color: #44445c;
}

.add-list .add-btn:focus {
  outline: 0;
}

.list {
  list-style: none;
  margin-top: 30px;
}

.list li {
  padding: 15px;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list li .item-label {
  font-size: 14px;
  line-height: 24px;
}

.list li:last-child {
  border-bottom: none;
}

.list li .far {
  color: #9c9c9c;
  cursor: pointer;
  -ms-flex-preferred-size: 17px;
      flex-basis: 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.list li .far:hover {
  color: #e74242;
}

.list li .item-label.completed {
  font-style: italic;
  color: #c5c5c5;
  text-decoration: line-through;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.list li .checkbox {
  -ms-flex-preferred-size: 13px;
      flex-basis: 13px;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

input[type='checkbox']:checked + label::before {
  background: #7186df;
  border: 2px solid #7186df;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #777;
}

label::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #fff;
  border: 2px solid #ccc;
  margin-right: 7px;
  vertical-align: bottom;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/*# sourceMappingURL=style.css.map */